<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nikhi.mysecondapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaterActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BathroomActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChallengeActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GardeningActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LaundryActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShoweringActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaterActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaterDisplayActivity"
            android:label="@string/title_activity_water"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>